#### Problem Statement:To create a reliable model that can effectively identify the credit amount to be given to each customer based on various factors, enabling the bank to make data-driven decisions for credit lending and risk management.

## Importing all Dependencies

In [50]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns",None)
pd.set_option('display.max_rows',None)

In [51]:
# prompt: write a code to mount drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#### Reading the data

In [52]:
train=pd.read_csv(r'/content/drive/MyDrive/Resume projects/Train.csv',index_col=0)
train.head()

,account_info,duration_month,credit_history,purpose,credit_amount,savings_account,employment_st,poi,personal_status,gurantors,resident_since,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner
serial number,,,,,,,,,,,,,,,,,,,,
1,<0,6.0,A34,radio/TV,1169,unknown,A75,4,A93,A101,4.0,A121,67.0,A143,A152,2,A173,1,yes,foreigner
2,0-199,48.0,A32,radio/TV,5951,<100,A73,2,A92,A101,2.0,A121,22.0,A143,A152,1,A173,1,no,foreigner
3,unknown,12.0,A34,education,2096,<100,A74,2,A93,A101,3.0,A121,49.0,A143,A152,1,A172,2,no,foreigner
4,<0,42.0,A32,furniture/equipment,7882,<100,A74,2,A93,A103,4.0,A122,45.0,A143,A153,1,A173,2,no,foreigner
5,<0,24.0,A33,new_car,4870,<100,A73,3,A93,A101,4.0,A124,53.0,A143,A153,2,A173,2,no,foreigner

In [53]:
# Get the column names
cols = train.columns.tolist()

# Move 'Credit amount' to the end
cols.remove('credit_amount')
cols.append('credit_amount')

# Reorder the DataFrame
train = train[cols]
train.head()

,account_info,duration_month,credit_history,purpose,savings_account,employment_st,poi,personal_status,gurantors,resident_since,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner,credit_amount
serial number,,,,,,,,,,,,,,,,,,,,
1,<0,6.0,A34,radio/TV,unknown,A75,4,A93,A101,4.0,A121,67.0,A143,A152,2,A173,1,yes,foreigner,1169
2,0-199,48.0,A32,radio/TV,<100,A73,2,A92,A101,2.0,A121,22.0,A143,A152,1,A173,1,no,foreigner,5951
3,unknown,12.0,A34,education,<100,A74,2,A93,A101,3.0,A121,49.0,A143,A152,1,A172,2,no,foreigner,2096
4,<0,42.0,A32,furniture/equipment,<100,A74,2,A93,A103,4.0,A122,45.0,A143,A153,1,A173,2,no,foreigner,7882
5,<0,24.0,A33,new_car,<100,A73,3,A93,A101,4.0,A124,53.0,A143,A153,2,A173,2,no,foreigner,4870

In [54]:
train.shape

(800, 20)

#### Descriptive Statistics Summary

In [55]:
train.describe()

,duration_month,poi,resident_since,age,credits_no,liables,credit_amount
count,772.000000,800.000000,787.000000,767.000000,800.000000,800.000000,800.000000
mean,20.645078,2.966250,2.822109,35.423729,1.396250,1.147500,3190.976250
std,12.374860,1.128806,1.105788,11.714471,0.569773,0.354825,2732.671789
min,4.000000,1.000000,1.000000,19.000000,1.000000,1.000000,250.000000
25%,12.000000,2.000000,2.000000,26.000000,1.000000,1.000000,1342.250000
50%,18.000000,3.000000,3.000000,32.000000,1.000000,1.000000,2281.500000
75%,24.000000,4.000000,4.000000,42.000000,2.000000,1.000000,3914.250000
max,72.000000,4.000000,4.000000,75.000000,4.000000,2.000000,15945.000000

In [56]:
test=pd.read_csv(r"/content/drive/MyDrive/Resume projects/Test.csv",index_col=0)
test.head()

,account_info,duration_month,credit_history,purpose,savings_account,employment_st,poi,personal_status,gurantors,resident_since,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner
serial number,,,,,,,,,,,,,,,,,,,
1,unknown,24.0,A34,education,<100,A75,4,A93,A101,4.0,A124,54.0,A143,A153,2,A173,2,no,foreigner
2,0-199,18.0,A34,radio/TV,<100,A75,3,A92,A103,4.0,A121,48.0,A141,A151,2,A172,1,yes,foreigner
3,<0,NaN,A34,furniture/equipment,<100,A75,1,A92,A101,4.0,A122,24.0,A143,A152,2,A173,1,no,foreigner
4,unknown,12.0,A34,radio/TV,unknown,A75,4,A93,A101,NaN,A123,35.0,A143,A152,2,A173,1,no,foreigner
5,0-199,12.0,A32,new_car,unknown,A71,1,A92,A101,2.0,A121,24.0,A143,A151,1,A171,1,no,foreigner

In [57]:
test.shape

(200, 19)

#### Handling missing Values

In [58]:
train.isna().sum()

account_info         0
duration_month      28
credit_history       0
purpose              0
savings_account      0
employment_st        0
poi                  0
personal_status      0
gurantors            0
resident_since      13
property_type        0
age                 33
installment_type     0
housing_type         0
credits_no           0
job_type             0
liables              0
telephone            0
foreigner            0
credit_amount        0
dtype: int64

In [59]:
test.isna().sum()

account_info         0
duration_month      10
credit_history       0
purpose              0
savings_account      0
employment_st        0
poi                  0
personal_status      0
gurantors            0
resident_since       6
property_type        0
age                  6
installment_type     0
housing_type         0
credits_no           0
job_type             0
liables              0
telephone            0
foreigner            0
dtype: int64

In [60]:
train.dtypes

account_info         object
duration_month      float64
credit_history       object
purpose              object
savings_account      object
employment_st        object
poi                   int64
personal_status      object
gurantors            object
resident_since      float64
property_type        object
age                 float64
installment_type     object
housing_type         object
credits_no            int64
job_type             object
liables               int64
telephone            object
foreigner            object
credit_amount         int64
dtype: object

In [61]:
for i in train.columns:
    print({i:train[i].unique()})  # to see the special characters

{'account_info': array(['<0', '0-199', 'unknown', '?', '>=200'], dtype=object)}
{'duration_month': array([ 6., 48., 12., 42., 24., 36., 30., 15.,  9., 10.,  7., 60., 18.,
       45., 11., 27.,  8., 54., nan, 14., 33., 16.,  4., 47., 13., 22.,
       39., 28.,  5., 26., 72., 40.])}
{'credit_history': array(['A34', 'A32', 'A33', 'A30', 'A31'], dtype=object)}
{'purpose': array(['radio/TV', 'education', 'furniture/equipment', 'new_car',
       'old_car', 'business', 'domestic_appliances', 'repairing', 'other',
       'upskilling'], dtype=object)}
{'savings_account': array(['unknown', '<100', '500-999', '>=1000', '100-499'], dtype=object)}
{'employment_st': array(['A75', 'A73', 'A74', 'A71', 'A72'], dtype=object)}
{'poi': array([4, 2, 3, 1])}
{'personal_status': array(['A93', 'A92', 'A91', 'A94'], dtype=object)}
{'gurantors': array(['A101', 'A103', '?', 'A102'], dtype=object)}
{'resident_since': array([ 4.,  2.,  3., nan,  1.])}
{'property_type': array(['A121', 'A122', 'A124', 'A123'], dtype=object)}
{'age': array([67., 22., 49., 45., 53., nan, 61., 28., 25., 24., 60., 32., 44.,
       31., 48., 26., 36., 39., 42., 34., 63., 27., 30., 57., 33., 37.,
       58., 23., 29., 52., 50., 46., 51., 41., 40., 66., 47., 56., 54.,
       20., 21., 38., 70., 65., 74., 68., 43., 55., 64., 75., 19., 62.,
       59.])}
{'installment_type': array(['A143', 'A141', 'A142'], dtype=object)}
{'housing_type': array(['A152', 'A153', 'A151'], dtype=object)}
{'credits_no': array([2, 1, 3, 4])}
{'job_type': array(['A173', 'A172', 'A174', 'A171'], dtype=object)}
{'liables': array([1, 2])}
{'telephone': array(['yes', 'no', '?'], dtype=object)}
{'foreigner': array(['foreigner', '?', 'resident'], dtype=object)}
{'credit_amount': array([ 1169,  5951,  2096,  7882,  4870,  9055,  2835,  6948,  3059,
        5234,  1295,  4308,  1567,  1199,  1403,  1282,  2424,  8072,
       12579,  3430,  2134,  2647,  2241,  1804,  2069,  1374,   426,
         409,  2415,  6836,  1913,  4020,  5866,  1264,  1474,  4746,
        6110,  2100,  1225,   458,  2333,  1158,  6204,  6187,  6143,
        1393,  2299,  1352,  7228,  2073,  5965,  1262,  3378,  2225,
         783,  6468,  9566,  1961,  6229,  1391,  1537,  1953, 14421,
        3181,  5190,  2171,  1007,  1819,  2394,  8133,   730,  1164,
        5954,  1977,  1526,  3965,  4771,  9436,  3832,  5943,  1213,
        1568,  1755,  2315,  1412, 12612,  2249,  1108,   618,  1409,
         797,  3617,  1318, 15945,  2012,  2622,  2337,  7057,  1469,
        2323,   932,  1919,  2445, 11938,  6458,  6078,  7721,  1410,
        1449,   392,  6260,  7855,  1680,  3578,  7174,  2132,  4281,
        2366,  1835,  3868,  1768,   781,  1924,  2121,   701,   639,
        1860,  3499,  8487,  6887,  2708,  1984, 10144,  1240,  8613,
         766,  2728,  1881,   709,  4795,  3416,  2462,  2288,  3566,
         860,   682,  5371,  1582,  1346,  5848,  7758,  6967,  1288,
         339,  3512,  1898,  2872,  1055,  7308,   909,  2978,  1131,
        1577,  3972,  1935,   950,   763,  2064,  1414,  3414,  7485,
        2577,   338,  1963,   571,  9572,  4455,  1647,  3777,   884,
        1360,  5129,  1175,   674,  3244,  4591,  3844,  3915,  2108,
        3031,  1501,  1382,   951,  2760,  4297,   936,  1168,  5117,
         902,  1495, 10623,  1424,  6568,  1413,  3074,  3835,  5293,
        1908,  3342,  3104,  3913,  3021,  1364,   625,  1200,   707,
        4657,  2613, 10961,  7865,  1478,  3149,  4210,  2507,  2141,
         866,  1544,  1823, 14555,  2767,  1291,  2522,   915,  1595,
        4605,  1185,  3447,  1258,   717,  1204,  1925,   433,   666,
        2251,  2150,  4151,  2030,  7418,  2684,  2149,  3812,  1154,
        1657,  1603,  5302,  2748,  1231,   802,  6304,  1533,  8978,
         999,  2662,  1402, 12169,  3060, 11998,  2697,  2404,  4611,
        1901,  3368,  1574,  1445,  1520,  3878, 10722,  4788,  7582,
        1092,  1024,  1076,  9398,  6419,  4796,  7629,  9960,  4675,
        1287,  2515,  2745,   672,  3804,  1344,  1038, 10127,  1543,
        4811,   727,  1237,   276,  5381,  5511,  3749,   685,  1494,
        2746,   708,  4351,  3643,  4249,  1938,  2910,  2659,  1028,
        3398,  5801,  1525,  4473,  1068,  6615,  1864,  7408, 11590,
        4110,  3384,  2101,  1275,  4169,  1521,  5743,  3599,  3213,
        4439,  3949,  1459,   882,  3758,  1743,  1136,  1236,   959,
        3229,  6199,  1246,  2331,  4463,   776,  2406,  1239,  3399,
        2247,  1766,  2473,  1542,  3850,  3650,  3446,  3001,  3079,
        6070,  2146, 13756, 14782,  7685,  2320,   846, 14318,   362,
        2212, 12976,  1283,  1330,  4272,  2238,  1126,  7374,  2326,
        1820,   983,  3249,  1957, 11760,  2578,  2348,  1223,  1516,
        1473,  1887,  8648,  2899,  2039,  2197,  1053,  3235,   939,
        1967,  7253,  2292,  1597,  1381,  5842,  2579,  8471,  2782,
        1042,  3186,  2028,   958,  1591,  2762,  2779,  2743,  1149,
        1313,  1190,  3448, 11328,  1872,  2058,  2136,  1484,   660,
        3394,   609,  1884,  1620,  2629,   719,  5096,  1244,  1842,
        2576,  1512, 11054,   518,  2759,  2670,  4817,  2679,  3905,
        3386,   343,  4594,  3620,  1721,  3017,   754,  1950,  2924,
        1659,  7238,  2764,  4679,  3092,   448,   654,  1238,  1245,
        3114,  2569,  5152,  1037,  3573,  1201,  3622,   960,  1163,
        1209,  3077,  3757,  1418,  3518,  1934,  8318,   368,  2122,
        2996,  9034,  1585,  1301,  1323,  3123,  5493,  1216,  1207,
        1309,  2360,  6850,  8588,   759,  4686,  2687,   585,  2255,
        1361,  7127,  1203,   700,  5507,  3190,  7119,  3488,  1113,
        7966,  1532,  1503,  2302,   662,  2273,  2631,  1311,  3105,
        2319,  3612,  7763,  3049,  1534,  2032,  6350,  2864,  1255,
        1333,  2022,  1552,   626,  8858,   996,  1750,  6999,  1995,
        1331,  2278,  5003,  3552,  1928,  2964,  1546,   683, 12389,
        4712,  1553,  1372,  3979,  6758,  3234,  5433,   806,  1082,
        2788,  2930,  1927,  2820,   937,  1056,  3124,  1388,  2384,
        2133,  2799,  1289,  1217,  2246,   385,  1965,  1572,  2718,
        1358,   931,  1442,  4241,  2775,  3863,  2329,   918,  1837,
        3349,  2828,  4526,  2671,  2051,  1300,   741,  3357,  3632,
        1808, 12204,  9157,  3676,  3441,   640,  3652,  1530,  3914,
        1858,  2600,  1979,  2116,  1437,  4042,  3660,  1444,  1980,
        1355,  1376, 15653,  1493,  4370,   750,  1308,  4623,  1851,
        1880,  7980,  4583,  1386,   947,   684,  7476,  1922,  2303,
        8086,  2346,  3973,   888, 10222,  4221,  6361,  1297,   900,
        1050,  1047,  6314,  3496,  3609,  4843,  4139,  5742, 10366,
        2080,  2580,  4530,  5150,  5595,  1453,  1538,  2279,  5103,
        9857,  6527,  1347,  2862,  2753,  3651,   975,  2896,  4716,
        2284,  1103,   926,  1800,  1905,  1123,  6331,  1377,  2503,
        2528,  5324,  6560,  2969,  1206,  2118,   629,  1198,  2476,
        1138, 14027,  7596,  1505,  3148,  6148,  1337,  1228,   790,
        2570,   250,  1316,  1882,  6416,  6403,  1987,   760,  2603,
        3380,  3990, 11560,  4380,  6761,  4280,  2325,  1048,  3160,
        2483, 14179,  1797,  2511,  1274,  5248,  3029,   428,   976,
         841,  5771,  1555,  1285,  1299,  1271,   691,  5045,  2124,
        2214, 12680,  2463,  1155,  3108,  2901,  1655,  2812,  8065,
        3275,  2223,  1480,  1371,  3535,  3509,  5711,  3872,  4933,
        1940,   836,  1941,  2675,  2751,  6224,  5998,  1188,  6313,
        1221,  2892,  3062,  2301,  7511,  1549])}

In [62]:
train.replace('?',np.nan,inplace=True)

In [63]:
for i in test.columns:
    print({i:test[i].unique()})  # to see the special characters

{'account_info': array(['unknown', '0-199', '<0', '>=200', '?'], dtype=object)}
{'duration_month': array([24., 18., nan, 12., 36.,  6., 42., 15.,  8., 48., 45.,  4.,  9.,
       10., 27., 11., 30., 28., 16., 60., 13.])}
{'credit_history': array(['A34', 'A32', 'A31', 'A30', 'A33'], dtype=object)}
{'purpose': array(['education', 'radio/TV', 'furniture/equipment', 'new_car',
       'old_car', 'business', 'domestic_appliances', 'other', 'repairing',
       'upskilling'], dtype=object)}
{'savings_account': array(['<100', 'unknown', '500-999', '100-499', '>=1000'], dtype=object)}
{'employment_st': array(['A75', 'A71', 'A74', 'A72', 'A73'], dtype=object)}
{'poi': array([4, 3, 1, 2])}
{'personal_status': array(['A93', 'A92', 'A94', 'A91'], dtype=object)}
{'gurantors': array(['A101', 'A103', '?', 'A102'], dtype=object)}
{'resident_since': array([ 4., nan,  2.,  1.,  3.])}
{'property_type': array(['A124', 'A121', 'A122', 'A123'], dtype=object)}
{'age': array([54., 48., 24., 35., 26., 65., 55., 28., 46., 62., 43., 27., 41.,
       47., 30., 33., nan, 38., 44., 23., 29., 42., 25., 21., 63., 50.,
       68., 59., 57., 32., 45., 40., 20., 37., 53., 34., 31., 39., 22.,
       58., 49., 64.])}
{'installment_type': array(['A143', 'A141', 'A142'], dtype=object)}
{'housing_type': array(['A153', 'A151', 'A152'], dtype=object)}
{'credits_no': array([2, 1, 4, 3])}
{'job_type': array(['A173', 'A172', 'A171', 'A174'], dtype=object)}
{'liables': array([2, 1])}
{'telephone': array(['no', 'yes'], dtype=object)}
{'foreigner': array(['foreigner', 'resident', '?'], dtype=object)}

In [64]:
test.replace('?',np.nan,inplace=True)

#### Filling missing values

In [65]:
for x in train.columns:
    if train[x].dtype=='object' or train[x].dtype=='bool':
        train[x].fillna(train[x].mode()[0],inplace=True)
    elif train[x].dtype=='int64' or train[x].dtype=='float64':
        train[x].fillna(round(train[x].mean()),inplace=True)

In [66]:
for x in test.columns:
    if test[x].dtype=='object' or test[x].dtype=='bool':
        test[x].fillna(test[x].mode()[0],inplace=True)
    elif test[x].dtype=='int64' or test[x].dtype=='float64':
        test[x].fillna(round(test[x].mean()),inplace=True)

In [67]:
print(train.isna().sum())
print(test.isna().sum())

account_info        0
duration_month      0
credit_history      0
purpose             0
savings_account     0
employment_st       0
poi                 0
personal_status     0
gurantors           0
resident_since      0
property_type       0
age                 0
installment_type    0
housing_type        0
credits_no          0
job_type            0
liables             0
telephone           0
foreigner           0
credit_amount       0
dtype: int64
account_info        0
duration_month      0
credit_history      0
purpose             0
savings_account     0
employment_st       0
poi                 0
personal_status     0
gurantors           0
resident_since      0
property_type       0
age                 0
installment_type    0
housing_type        0
credits_no          0
job_type            0
liables             0
telephone           0
foreigner           0
dtype: int64

#### converting categorical variables to numerical

In [68]:
colname=[]
for x in train.columns:
    if train[x].dtype=='object':
        colname.append(x)
print(colname)

['account_info', 'credit_history', 'purpose', 'savings_account', 'employment_st', 'personal_status', 'gurantors', 'property_type', 'installment_type', 'housing_type', 'job_type', 'telephone', 'foreigner']

In [69]:
# For preprocessing the data
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

for x in colname:
    train[x]=le.fit_transform(train[x])

In [70]:
colname=[]
for x in test.columns:
    if test[x].dtype=='object':
        colname.append(x)
print(colname)

['account_info', 'credit_history', 'purpose', 'savings_account', 'employment_st', 'personal_status', 'gurantors', 'property_type', 'installment_type', 'housing_type', 'job_type', 'telephone', 'foreigner']

In [71]:
# For preprocessing the data
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

for x in colname:
    test[x]=le.fit_transform(test[x])

In [72]:
test.head()

,account_info,duration_month,credit_history,purpose,savings_account,employment_st,poi,personal_status,gurantors,resident_since,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner
serial number,,,,,,,,,,,,,,,,,,,
1,3,24.0,4,2,2,4,4,2,0,4.0,3,54.0,2,2,2,2,2,0,0
2,0,18.0,4,7,2,4,3,1,2,4.0,0,48.0,0,0,2,1,1,1,0
3,1,22.0,4,3,2,4,1,1,0,4.0,1,24.0,2,1,2,2,1,0,0
4,3,12.0,4,7,4,4,4,2,0,3.0,2,35.0,2,1,2,2,1,0,0
5,0,12.0,2,4,4,0,1,1,0,2.0,0,24.0,2,0,1,0,1,0,0

#### Creating X and Y

In [73]:
X=train.values[:,0:-1]
Y=train.values[:,-1]
Y=Y.astype(int)

In [74]:
print(X)

[[ 1.  6.  4. ...  1.  1.  0.]
 [ 0. 48.  2. ...  1.  0.  0.]
 [ 3. 12.  4. ...  2.  0.  0.]
 ...
 [ 3. 12.  4. ...  1.  0.  0.]
 [ 3. 24.  3. ...  1.  1.  0.]
 [ 0.  9.  2. ...  1.  0.  0.]]

In [75]:
from sklearn.model_selection import train_test_split

#Split the data into test and train
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,
                                                    random_state=10)

In [76]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(640, 19)
(160, 19)
(640,)
(160,)

#### Random Forest Regressor

In [77]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

# Create the base model object with fixed parameters
model_EXT = RandomForestRegressor(random_state=10, bootstrap=True)

# Define the hyperparameters and their values for grid search
parameter_space = {
    'criterion': ['mse', 'friedman_mse', 'mae'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Perform grid search with cross-validation
clf = GridSearchCV(model_EXT, parameter_space, n_jobs=-1, cv=5)
clf.fit(X_train, Y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=10), n_jobs=-1,
             param_grid={'criterion': ['mse', 'friedman_mse', 'mae'],
                         'max_depth': [None, 10, 20, 30],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]})

In [78]:
# Get the best hyperparameters
best_params = clf.best_params_
best_params

{'criterion': 'friedman_mse',
 'max_depth': 10,
 'min_samples_leaf': 2,
 'min_samples_split': 10}

In [79]:
#predicting using the Random_Forest_Regressor
from sklearn.ensemble import RandomForestRegressor

model_RandomForest=RandomForestRegressor(n_estimators=500,criterion='squared_error',
 max_depth=20,
 min_samples_leaf= 5,
 min_samples_split=10,
 random_state=10, bootstrap=True,n_jobs=-1)

#fit the model on the data and predict the values
model_RandomForest.fit(X_train,Y_train)

Y_pred=model_RandomForest.predict(X_test)

In [80]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np

r2=r2_score(Y_test,Y_pred)
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)  # formula of adj R2 shape(no of ind vars)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.6609293878956712
RMSE: 1610.7041259512782
Adj R-square: 0.6526699755495402

In [81]:
# Define the normalization factor
normalization_factor = np.max(Y_test) - np.min(Y_test)

# Calculate the normalized RMSE
normalized_rmse = (1 - rmse / normalization_factor) * 100

# Print the normalized RMSE score
print("Normalized RMSE Score:", normalized_rmse)

Normalized RMSE Score: 88.84785622134406

## Extreme Gradient Boosting

In [82]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming X_train, y_train, X_test, and y_test are your training and testing data
# Convert data to DMatrix format required by XGBoost
dtrain = xgb.DMatrix(X_train, label=Y_train)
dtest = xgb.DMatrix(X_test, label=Y_test)

# Define parameters for XGBoost
params = {
    'objective': 'reg:squarederror',  # Specify the objective as regression
    'eval_metric': 'rmse'  # Evaluation metric is Root Mean Squared Error
}

# Train the model
num_rounds = 100 # Number of boosting rounds
xgb_model = xgb.train(params, dtrain, num_rounds)

# Make predictions on the test data
Y_pred = xgb_model.predict(dtest)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(Y_test, Y_pred))

# Print the RMSE score
print("RMSE Score:", rmse)

RMSE Score: 1829.2422750219719

In [83]:
from sklearn.metrics import r2_score,mean_squared_error
import numpy as np
 # ytest is used to cross check
r2=r2_score(Y_test,Y_pred) # unseen data
print("R-squared:",r2)

rmse=np.sqrt(mean_squared_error(Y_test,Y_pred))  # manually applied sqrt
print("RMSE:",rmse)

adjusted_r_squared = 1 - (1-r2)*(len(Y)-1)/(len(Y)-X.shape[1]-1)  # formula of adj R2 shape(no of ind vars)
print("Adj R-square:",adjusted_r_squared)

R-squared: 0.5626782601179681
RMSE: 1829.2422750219719
Adj R-square: 0.5520255510695595

#### Gradient boosting

In [84]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming X_train, y_train, X_test, and y_test are your training and testing data
# Create and train the Gradient Boosting Regressor model
gbm_regressor = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3,max_features=11,random_state=42)
# You can adjust n_estimators, learning_rate, max_depth, and other parameters as needed
gbm_regressor.fit(X_train, Y_train)

# Make predictions
Y_pred= gbm_regressor.predict(X_test)

# Calculate RMSE
rmse = np.sqrt(mean_squared_error(Y_test,Y_pred))

# Print the RMSE score
print("RMSE Score:", rmse)

RMSE Score: 1627.4166743147575

In [85]:
# prompt: now write a code to use the gbm model to predict credit amount for test data the file which is provided above

# Make predictions on the test data
test_predictions = gbm_regressor.predict(test.values)

# Add predictions as a new column to the test DataFrame
test['predicted_credit_amount'] = test_predictions

# Display the test DataFrame with predictions
print(test.head())

               account_info  duration_month  credit_history  purpose  \
serial number
1                         3            24.0               4        2
2                         0            18.0               4        7
3                         1            22.0               4        3
4                         3            12.0               4        7
5                         0            12.0               2        4

               savings_account  employment_st  poi  personal_status  \
serial number
1                            2              4    4                2
2                            2              4    3                1
3                            2              4    1                1
4                            4              4    4                2
5                            4              0    1                1

               gurantors  resident_since  property_type   age  \
serial number
1                      0             4.0              3  54.0
2                      2             4.0              0  48.0
3                      0             4.0              1  24.0
4                      0             3.0              2  35.0
5                      0             2.0              0  24.0

               installment_type  housing_type  credits_no  job_type  liables  \
serial number
1                             2             2           2         2        2
2                             0             0           2         1        1
3                             2             1           2         2        1
4                             2             1           2         2        1
5                             2             0           1         0        1

               telephone  foreigner  predicted_credit_amount
serial number
1                      0          0              2542.485248
2                      1          0              3047.280074
3                      0          0              3473.822975
4                      0          0              1284.140283
5                      0          0              3509.699124